<div class="img-box">
    <a href="/img/illustrations/wander.jpg" data-lightbox="gallery" data-title="Wander and Phalanx (January 11th, 2021)">
        <img src="/img/illustrations/wander.jpg" alt="Wander and Phalanx (January 11th, 2021)">
    </a>
</div>

<p><strong>Above this paragraph</strong> is a drawing I made for a dear friend of mine about two
    years ago — it's a piece of fan art based on the 13th colossus, Phalanx, from the game Shadow of the
    Colossus. It's not my best piece, I even find some parts, like the ground, rather silly, but I like how back
    then I was more daring to try out new techniques.</p>

<p>In 2022, I started the year with the goal to draw things that I love. This resulted in me drawing a bunch of
    portraits and guitars, which is cool, but I was ultimately just noodling around. This year I want to focus
    on big environments. Video games with "lonely" environments (think Red Dead Redemption, The Last of Us,
    Shadow of the Colossus and Portal 2) inspire me <em>a lot</em>, so painting fan art will be a good starting
    point. (Next to replaying some of them ;-)</p>