* {
    cursor: url(/cursors/arrow.png), auto;
}

input[type=text],
textarea {
    cursor: text;
}

a:hover,
button:hover,
summary:hover,
input[type=submit] {
    cursor: url(/cursors/pointer.png), pointer;
}

img:hover[title] {
    cursor: url(/cursors/help.png), help;
}

body {
    font-family: MS Gothic, Helvetica, sans serif;
}

h1 {
    font-family: MS Sans Serif, Helvetica, sans serif;
}
