* {
    cursor: url(/cursors/arrow.png), auto;
}

input[type=text],
textarea {
    cursor: text;
}

a:hover,
button:hover {
    cursor: url(/cursors/pointer.png), pointer;
}

img:hover[title] {
    cursor: url(/cursors/help.png), help;
}
