input,
textarea {
  margin-bottom: 6px;

  font-family: MS gothic, Helvetica, sans serif;
  font-size: 14px;
}

#name {
  padding: 2px;
  padding-left: 6px;
}

textarea {
  resize: none;
  max-width: 100%;
  padding: 6px;
}

#comment-table {
  width: 100%;
}

#comment-table td {
  vertical-align: top;
  padding-right: 10px;
}

#comments {
  padding: 16px 68px;
}

.comment {
  background-color: #ebe9e8;
  box-shadow: 3px 3px #6f6e6d;

  max-width: 100%;
  padding: 0.2em 1em 0.3em;
  margin: 0.7em;
}

.comment>p {
  margin: 6px 0 6px;
  text-indent: 0;
  font-size: 14px;
}

.comment>pre {
  width: 100%;
  white-space: pre-wrap;
  font-family: MS gothic, Helvetica, sans serif;
  font-size: 14px;
  margin-top: 8px;
}

@media screen and (max-width: 450px) {
  textarea {
    max-width: 250px;
  }

  #comments {
    padding: 16px 24px;
  }
}