@import "/css/base.css";

img:hover, b:hover {
  cursor: url(/cursors/pointer.png), pointer;
}

body {
  background-color: #f1e7de;
  color: #473d49;
  
  margin: auto;
  padding: 20px;
  padding-bottom: 60px;
  max-width: 1360px;
  word-wrap: break-word;
}

aside {
  width: 280px;
  padding-right: 20px;
  float: left;
}

#gallery {
  max-width: 1060px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-bottom: 16px;
}

#gallery .col {
  display: flex;
  flex-direction: column;
  width: calc(1060px/3);
}

#gallery .col img {
  transition: 0.5s;
  max-width: calc(1060px/3 - 20px);
  margin: 10px;
}

img:hover {
  transform: scale(1.05);
}

p,
summary {
  font-size: 14px;
}

details[open] summary~* {
  animation: sweep .5s ease-in-out;
}

@keyframes sweep {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #212121;
    color: #fff8d1;
  }

  a:visited {
    color: lightblue;
  }
}

@media screen and (max-width: 800px) {
  aside {
    float: none;
    width: 100%;
  }

  #gallery {
    padding-right: 20px;
  }

  #gallery .col img {
    max-width: 100%;
  }
}