@import "/css/base.css";
@import "/css/comments.css";

@font-face {
    font-family: linux;
    src: url(/fonts/MS\ Gothic.ttf);
}

body {
    height: 100vh;
    margin: 0;

    background-color: #dde3bb;
    font-family: MS gothic, linux, consolas; /*ui-monospace?*/
    color: #1d1d1d;
}

main,
footer,
header {
    margin: auto;
    max-width: 520px;
}

h1 {
    font-size: 1.5rem;
    margin-top: 6px;
}

#header-box {
    padding: 32px 80px;
    /*same as dark: 32px 68px*/
}

#header-img {
    max-width: 100%;
}

footer {
    text-align: center;
    margin-bottom: 64px;
}