@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to right, #faf2f9, #f4f9fb);
    font-family: 'Inconsolata', MS Gothic, Arial;
    color: rgb(69, 69, 69);

    padding: 10px;
    margin: auto;
    max-width: 920px;
}

header {
    padding: 30px;
    text-align: center;
}

header h1 {
    font-size: 42px;
}

.topnav {
    overflow: hidden;
    background-color: rgb(58, 87, 120);
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: ease-in-out .3s;
}

.topnav a:hover {
    background-color: rgb(245, 246, 247);
    color: black;
}

.topnav .icon {
    display: none;
}

footer {
    padding: 24px 0px 32px 0px;
    text-align: center;
}

p,
li {
    font-weight: 300;
}

a {
    text-decoration-style: dotted;
}

a:hover {
    color: #d97fa2;
}

.checkboxes {
    list-style: none;
    padding-left: 0;
}

.checkboxes li:before {
    content: '\2610';
    margin: 0 0.6em;
}

.close p {
    margin-top: 6px;
    margin-bottom: 6px;
}

.left {
    padding-right: 10px;
}

.right {
    padding-left: 10px;
}

.small {
    float: left;
    width: 30%;
}

.big {
    float: left;
    width: 70%;
}

.card {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0px 15px 15px -15px rgb(227, 226, 228), 0px 0 15px -3px rgb(227, 226, 228);
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 800px) {
    .small,
    .big {
        width: 100%;
    }

    .left, .right {
        padding: 0;
    }
}

@media screen and (max-width: 400px) {
    .topnav a {
        float: none;
        width: 100%;
        display: none;
    }

    .topnav .icon {
        float: right;
        display: block;
    }

    .topnav.responsive a {
        float: none;
        display: block;
    }
}