@import "/css/base.css";

body {
    font-family: MS Gothic, Helvetica, sans-serif;
    background-color: #f3ddb4;
    height: 90vh;
}

main,
header,
footer {
    margin: auto;
}

main {
    margin-top: 64px;
    margin-bottom: 32px;
    width: 720px;

    background-color: whitesmoke;
    box-shadow: 4px 4px rgb(94, 89, 89);
}

#img-regular {
    max-width: 286px;
    padding: 16px;
    padding-right: 8px
}

#img-small {
    max-width: 90%;
    margin: auto;
    display: none;
}

h1 {
    font-family: MS Sans Serif, Helvetica, sans serif;
}

td {
    vertical-align: top;
}

#text-section {
    padding: 16px;
}

@media screen and (max-width: 450px) {
    main {
        margin-top: 24px;
        width: 90%   
    }

    footer {
        padding-bottom: 32px;
    }
    
    #img-regular {
        display: none;
    }

    #img-small {
        display: block;
    }
}
