@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400;1,500&display=swap');

html { font-size: 90%; }

body {
    background-color: #000;
}

body {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Karla', Helvetica, sans-serif;
}

img {
    margin-bottom: 12px;
}

p {
    color: #ddd;
    text-align: center;
    margin: 6px;
}

a {
    color: #ddd;
    text-decoration-style: dotted;
}

img:hover {
    cursor: pointer;
}
