body {
    padding-top: 24px;
}

#title-small {
    text-transform: uppercase;
    letter-spacing: 0.3em
}

#topnav {
    padding-top: 8px;
}

h1 {
    font-weight: 400;
    font-size: 26px;
}

#posts .post {
    margin-bottom: 8px;
}
