<div class="card">

    <h2>About me</h2>

    <p>I'm a programmer and reverse engineer (sort of, I'm still studying). I've worked with C# and Java, but now it's
        mostly C/C++ and Python, and Julia as a hobby! I'm actually more fond of low level programming, but I'll always have a
        soft spot for webdevelopment... I've been tinkering with HTML since I was 12, and the interest never really faded.</p>

    <p>Next to programming my hobbies include drawing, playing bass, reading and writing. I want to pick up knitting and
        skateboarding.</p>

    <!-- <p>Some super fun facts about me:</p>
    <ul>
        <li>According to <a href="http://www.easydamus.com/character.html">this D&D quiz</a>, I'm a lawful neutral human
            sorcerer.</li>
    </ul> -->

</div>