<div class="left small">
    <div class="card close">
        <h3>Personalia</h3>
        <p><b>Name</b>: :)</p>
        <p><b>Birth year</b>: 2001</p>
        <p><b>Location</b>: The Netherlands</p>
        <p><b>MBTI</b>: INFJ</p>
    </div>

    <div class="card">
        <h3>Favourites</h3>
        <p><b>Drinks</b>: capperccino</p>
    </div>
</div>

<div class="right big">
    <div class="card">
        <h2>Hello! (About me)</h2>

        <p>I'm a applied computer science student, currently studying Reverse Engineering & Exploitation. I'm
            interested in system engineering, offensive security, and web development. Like most computer nerds, I
            grew up being the tech wiz of the family, and since then it's only gone downhill (there is Arch on my
            laptop).</p>

        <p>Next to programming my hobbies include drawing, playing bass, reading and writing. I want to pick up knitting
            and skateboarding.</p>

        <p>I like a lot of things, and it feels kinda weird to explicitely list them, so I hope to fill this website
            with enough content that you can eventually just guess. But I do like to say that a big inspiration of mine
            is Toby Fox. His creations, work flow and way of thinking really resonate with me.</p>

        <img src="/img/undertale.jpg" alt="" style="width: 75%;">

        <!-- <p>Here's a list of things I like: tea, flowers, hand-written letters, all of Toby Fox's games
            and music, mecha, weird humanoid creatures, knights, hackers, florists, sunrises, retro computer interface
            designs, ASCII art, Pokémon, Minecraft, "lonely" videogames like Last of Us/Red Dead/Portal/Shadow of the Collosus, impressionist paintings, sandwiches, hardware, lockets, handmade mugs, plushies, electric (bass)
            guitars, old manga covers, fashion shows, butterflies, journals and dusty books, wax seals, and that's about
            it.</p> -->

        <h3>What does <em>motregen</em> mean?</h3>
        <p><em>Motregen</em> is Dutch for drizzling or soft rain. "Mot" in old Dutch is another word for dust, so, rain
            as soft as dust, but in the modern day "mot" means moth. So try to imagine "moths flying around like crazy
            at night in the street lights", like Stav once said.</p>

        <!-- <p>Some super fun facts about me:</p>
        <ul>
            <li>According to <a href="http://www.easydamus.com/character.html">this D&D quiz</a>, I'm a lawful neutral human
                sorcerer.</li>
        </ul> -->
    </div>
</div>