<div class="row">
    <div class="leftcolumn">
        <div class="card">
            <h2>hi mom (reprised)</h2>
            <img src="/img/night.gif" alt="" style="max-width: 100%;"">
            <p>welcome to my little corner of the web! i'll be sharing my creations, writings and reviews on here as
                a nice way to pass the time. and hopefully, to learn more about web development in the process. this
                website is self hosted, backed by the genie framework (in julia)!</p>
        </div>
        <!-- <div class=" card">
            <h2>so you decided to learn bass</h2>
            <em><strong>a guide for absolute beginners (Dec 18, 2022)</strong></em>
            <p>sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. ut enim ad minim veniam, quis nostrud
                exercitation ullamco.</p>
            <p><a href="#">read more...</a></p>
        </div> -->
    </div>
    <div class="rightcolumn">
        <div class="card">
            <h2>about me</h2>
            <p>skeebeedoo bap doo bap skoop dee boop wappa woop wapwap badoobeedoo ba ba doop dee woop</p>
        </div>
        <div class="card">
            <h3>to do</h3>
            <ul class="checkboxes">
                <li>implement dark mode</li>
                <li>about me page</li>
                <li>tech projects page</li>
                <li>media reviews page</li>
            </ul>
        </div>
        <div class="card">
            <h3>update log</h3>
            <p><b>[19/12/2022]</b>: completely revamped the home page.</p>
            <p><b>[24/11/2022]</b>: the website is now online!</p>
            <p><b>[03/11/2022]</b>: initial commit of <em>motregen</em>.</p>
        </div>
    </div>
</div>