<p><strong>Hallo, en welkom</strong> op mijn persoonlijke website! Hier vind je al mijn creaties en belevenissen, en dat
    allemaal in het Nederlands. Ik heb nog geen vast thema voor mijn schrijfsels, maar laat me gewoon meeslepen door het
    proces...</p>

<p>Deze website host ik zelf en ik heb de backend geschreven in Julia, met behulp van het Genie framework. Hoewel ik ook
    heb gezeten op <a href="https://neocities.org/">Neocities</a> en <a href="https://bearblog.dev/">Bear Blog</a> —
    beide fantastische platforms — kon ik het niet laten om aan een eigen webserver te fröbelen. Zoals je misschien al
    hebt gemerkt, vind ik de duurzaamheid van content op het internet en de onafhankelijkheid van het web belangrijk.
    Verder komt mijn inspiratie van moderne techblogs, Nederlandse columnisten en poëzie, en <a
        href="https://maggieappleton.com/garden-history">digitale tuinen</a>.</p>

<p>Ik zal je niet beloven dat mijn website iets groots of meeslepends wordt — daar streef ik zelf namelijk ook niet
    naar. Maar dat betekent niet dat het niet de moeite waard is om te verkennen. Bedankt voor het langskomen!</p>