<div class="left big">
    <div class="card">
        <h2>Hi mom (reprised)</h2>
        <img src="/img/night.gif" alt="" style="max-width: 100%;"">
        <p>Welcome to my little corner of the web! I'll be sharing my creations, writings and reviews on here as
            a nice way to pass the time. And hopefully, to learn more about web development in the process. This
            website is self hosted, backed by the Genie framework (in Julia)!</p>
    </div>
    
    <!-- <div class=" card">
        <h2>so you decided to learn bass</h2>
        <em><strong>a guide for absolute beginners (Dec 18, 2022)</strong></em>
        <p>sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. ut enim ad minim veniam, quis nostrud
            exercitation ullamco.</p>
        <p><a href="#">read more...</a></p>
    </div> -->
</div>
<div class="right small">
    <div class="card">
        <h2>About me</h2>
        <p>skeebeedoo bap doo bap skoop dee boop wappa woop wapwap badoobeedoo ba ba doop dee woop</p>
    </div>
    <div class="card">
        <h3>To do</h3>
        <ul class="checkboxes">
            <li>Light/dark mode toggle</li>
            <li>Create REST API</li>
        </ul>
    </div>
    <div class="card">
        <h3>Update log</h3>
        <p><b>[19/12/2022]</b>: Completely revamped the home page.</p>
        <p><b>[24/11/2022]</b>: The website is now online!</p>
        <p><b>[03/11/2022]</b>: Initial commit of <em>motregen</em>.</p>
    </div>
</div>