<h1>Not Software Engineering</h1>

<p>Our web ring consists of <em>Not Software Engineers</em>. This is a little inside joke at our study, because we all
    study Network & Systems Engineering - opposing to Software Engineering - which handles, well, networks and systems,
    which is more low level. Of course we still write a lot of software (our websites being the prime example), but it's
    nice to make fun of people, especially because there are so many more software engineers than system engineers.</p>

<h2>Ye old web</h2>

<p>All of our websites are styled in web 1.0. Even though we agree that web 3.0 has it's benefits (decentralized
    networks anyone?), we are sick of the commercialization and bloat that the current web has become. We're also just
    weak to the 00s styled webpages... I can't not mention how much we appreciate Neocities...</p>

<h2>The members</h2>

