<div class="card">

    <h2>Not Software Engineering</h2>
    <p>Our webring consists of <em>Not Software Engineers</em>. This is a little inside joke at our study, because we
        all study Network & Systems Engineering — opposing to Software Engineering — which handles, well, networks and
        systems, which is more low level. Of course we still write a lot of software (our websites being the prime
        example), but it's nice to make fun of people, especially considering there are so many more software engineers
        than system engineers.
    </p>

    <h3>Ye old web</h3>
    <p>All of our websites are styled in web 1.0. Even though we agree that web 3.0 has it's benefits, for example,
        decentralized networks, we're not too fond of the never ending commercialization and bloat. And besides that,
        we're
        just weak to 00s styled webpages, and other sorts of retro tech.</p>

    <h3>The members</h3>
    <p>Meet the people who aren't software engineers:</p>
    <ul class="cutes">
        <li><a href="https://forestofunix.xyz/">Forest of Unix (Sebastiaan)</a>: bunch of frogs in a trench coat</li>
        <li><a href="https://quenten.nl/">Internetica Galactica (Quenten)</a>: Go user (but also JavaScript)</li>
        <li><a href="https://kristypixel.neocities.org/">Kristy</a>: very cute and pink ♡´･ᴗ･`♡</li>
    </ul>

    <p>&nbsp;</p>

    <img src="/img/bens-website.jpg" alt="" style="max-width: 256px; cursor: help;" title="i'm kidding ben (or am i)">

</div>