<p><strong>Even in het kort</strong>: ik ben een programmeur, die vooral houdt van systemen en industriële machines
    — over big tech zul je me ook niet veel horen. Daarnaast heb ik interesse in kunst, literatuur, de natuur
    en een beetje psychologie. Ik leef graag een rustig leven, zorg voor m'n naasten, en probeer
    schoonheid te vinden in kleine dingen.</p>

<p>Ik hecht er op het moment geen waarde aan om mezelf een vaste online identiteit aan te meten, en ben ook vrij
    gesteld op m'n privacy.
    Als je m'n echte naam googlet zul je niet veel vinden, en als ik op een platform aanwezig ben, maak ik gebruik van
    een alias. Of dit getuigt van verstandigheid of lichte neurose mag je zelf bepalen, daar verschillen namelijk de
    meningen over. 🤣</p>