<p><strong>Even in het kort</strong>: ik ben een programmeur, die vooral houdt van systemen en industriële machines
    — over big tech zul je me ook niet veel horen. Daarnaast heb ik interesse in kunst, literatuur, de natuur
    en een beetje psychologie. Ik leef graag een rustig leven, zorg voor m'n naasten, en probeer
    schoonheid te vinden in kleine dingen.</p>

<p>Hoewel ik op het internet graag m'n creaties deel en verbind met anderen, hecht ik er (op het moment) geen waarde aan
    om mezelf een specifieke identiteit aan te meten. Verspreid over het internet verschuil ik me achter verschillende
    bloemennamen, waaronder <em>dovenetel</em>. Tech-giganten weten hoogstwaarschijnlijk van alles over me, maar als je
    m'n echte naam opzoekt zul je precies niks vinden, en daar ben ik blij mee. Of dit getuigt van verstandigheid, lichte
    neurose, of beide, mag je zelf bepalen. 🙂</p>