<h2>Server</h2>

<ul>
    <li>Ubuntu Linux (VPS server)</li>
    <li><a href="https://www.nginx.com/resources/wiki/">Nginx</a> (reverse proxy)</li>
    <li><a href="https://genieframework.com/">Genie Framework</a></li>
    <li><a href="https://github.com/lokesh/lightbox2">Lightbox</a></li>
    <li>Visual Studio Code</li>
</ul>

<h2>Art</h2>

<ul>
    <li>Huion drawing tablet, with either Paint Tool SAI 2 or Photoshop 2022</li>
    <li>iPad Air and Apple pen with Procreate</li>
    <li>Sakura Koi sketch notebook with Micron fineliners in black</li>
</ul>

<h2>Bass</h2>

<ul>
    <li>Squier Paranormal Jazz Bass 54 in white blonde</li>
    <li>Fender Instrument Cable in shell pink</li>
    <li>Hartke HD25</li>
    <li>Focusrite SCARLETT 2I2</li>
</ul>