<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>$(title) / motregen</title>
    <link rel="stylesheet" href="/css/default.css">
    <link rel="stylesheet" href="/css/post.css">
    <link rel="stylesheet" href="/css/lightbox.min.css">
</head>

<body>
    <a href="/" id="title-small">motregen</a>
    <% partial(joinpath(Genie.config.path_resources, "default", "views", "_nav.jl.html" )) %>

    <hr>

    <main>
        <h1>$(title)</h1>
        <em id="post-date">$(sdate)</em>
        <% @yield %>
    </main>

    <footer>
        <hr>
        <br>
        <p>website made by me! © 2023</p>
        <p><a href="/site-map">site map</a><a href="/contact">contact</a></p>
    </footer>

    <script src="/js/image-wrapper.js"></script>
    <script src="/js/lightbox-plus-jquery.min.js"></script>

</body>

</html>