<!DOCTYPE html>
<html lang="nl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home / motregen</title>
    <link rel="stylesheet" href="/css/default.css">
    <link rel="stylesheet" href="/css/lightbox.min.css">
    <script src="/js/lightbox-plus-jquery.min.js"></script>
</head>

<body>
    <h1>motregen</h1>
    <% partial(joinpath(Genie.config.path_resources, "default", "views", "_nav.jl.html" )) %>

    <hr>

    <main>
        <% @yield %>
    </main>

    <% partial(joinpath(Genie.config.path_resources, "default", "views", "_footer.jl.html" )) %>

    <script src="/js/image-wrapper.js"></script>
    <script src="/js/lightbox-plus-jquery.min.js"></script>
    
</body>

</html>