<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>$(title)</title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
</head>

<body>
    <header>
        <h1>motregen &#60;3</h1>
    </header>

    <div class="topnav" id="topnav">
        <a href="javascript:void(0);" class="icon" onclick="hamburger()">
            <i class="fa-solid fa-bars"></i>
        </a>
        <a href="/">Home</a>
        <a href="/art">Art</a>
        <a href="/blog">Blog</a>
        <!-- <a href="#">Tech</a> -->
        <!-- <a href="#">Media</a> -->
        <a href="/guestbook" style="float:right">Guestbook</a>
    </div>

    <div class="row">
        <div class="card">
            <% @yield %>
        </div>
    </div>

    <footer>
        <p><a href="/site-map">Site map</a> | <a href="/contact">Contact</a></p>
    </footer>
</body>

<script src="/js/sidebar.js"></script>

</html>

    