<form action="$(Genie.Router.linkto(:create_comment))" method="POST" enctype="multipart/form-data">

    <table id="comment-table">
        <tbody>
            <tr>
                <td><label for="name">name:</label></td>
                <td><input type="text" name="name" id="name" required="required" maxlength="32"
                        placeholder="or nickname!"></td>
            </tr>
            <tr>
                <td><label for="text">comment:</label></td>
                <td><textarea name="text" id="text" cols="40" rows="5" required="required" maxlength="256"
                        placeholder="write here..."></textarea>
                </td>
            </tr>
        </tbody>
    </table>

    <!-- <input type="checkbox" name="whisper" id="whisper"> -->
    <!-- <label for="whisper">whisper it?</label> -->

    <!-- <br><br> -->

    <input type="hidden" name="page" value="$(page)">
    <input type="submit" name="submit" value="💌 submit your message" id="submit">
</form>