<header>
    <div id="header-box">
        <img src="/img/ruins.jpg" alt="" id="header-img">
    </div>
</header>

<main>
    <h1 id="guestbook-title">leave me a note?</h1>
    <p id="guestbook-text">or write about what's on your mind.</p>

    <br>

    <% partial(joinpath(Genie.config.path_resources, "comments" , "views" , "_new_comment.jl.html" ), page="/guestbook") %>

    <% partial(joinpath(Genie.config.path_resources, "comments" , "views" , "_comments.jl.html" ), comments=comments) %>

</main>

<footer>
    <p id="go-home"><a href="/">go home</a></p>
</footer>

<script src="/js/guestbook.js"></script>